---
layout: pages
title: "Thể loại: 2DCG"
---

<div class="post-grid">

{% for post in site.posts %}

  {% if post.genre %}

    {% assign genres = post.genre | downcase | split: "," %}

    {% for genre in genres %}

      {% assign clean_genre = genre | strip %}

      {% if clean_genre == "2dcg" %}

        <article class="post-card">
          <a href="{{ post.url }}">
            <img src="{{ post.image }}" alt="{{ post.title }}">
            <h2>{{ post.title }}</h2>
          </a>
        </article>

        {% break %}

      {% endif %}

    {% endfor %}

  {% endif %}

{% endfor %}

</div>
